body {
  /* -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; */
   font-family: 'Lora', serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 136%;
   letter-spacing: -0.035em;
}
a { color: inherit;
}
* {
  box-sizing: border-box;
}
.menubar {
  display: flex;
  justify-content: space-around;
  align-items:center ;
  height: 83px;
  padding: 0 20px;
  border-bottom: 1px solid black;
}
.menubar a {
  height: 20px;
  text-decoration: none;
  color: black;
}
.menubar img {
  height: 80%;
  width: auto;
}
